<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cesare.leagueoflegendscoaching">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.Home"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.Login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.SignUp"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.CoachRegistration"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.StudentArea"
            android:screenOrientation="portrait" />
        <activity android:name=".Activities.CoachArea" />
        <activity
            android:name=".Activities.SearchCoach"
            android:label="@string/title_activity_search_coach" />
        <activity android:name=".Activities.CoachesList" />
        <activity android:name=".Activities.CoachDetails" />
        <activity android:name=".Activities.WeekSchedule" />
        <activity android:name=".Activities.DaySchedule" />
        <activity android:name=".Activities.CoachReservation" />
        <activity android:name=".Activities.ReservationList" />
        <activity
            android:name=".Activities.Booking"
            android:theme="@style/AppThemeCompat" />
        <activity android:name=".Activities.Fragments.PastReservations" />
        <activity android:name=".Activities.Fragments.ActiveReservations" />
        <activity android:name=".Activities.CoachUpgrade" />
        <activity
            android:name=".Activities.Appointments"
            android:theme="@style/AppThemeCompat" />
    </application>

</manifest>